# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/JS_ArtefactsAndLocations_Architecture.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/2/5/25202787f68ead45282dfb9ff011b77ea71eeccd
.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/securityhotspotstore/index.pb
.idea/sonarlint/securityhotspotstore/2/5/25202787f68ead45282dfb9ff011b77ea71eeccd
.idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
